@import '@/app/globals.scss';

.theme-selector-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  max-width: 80px;
}

.theme-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;

  &.theme-default {
    background-color: $default-500;
  }

  &.theme-pink {
    background-color: $pink-300;
  }

  &.theme-blue {
    background-color: $blue-300;
  }

  &.theme-green {
    background-color: $green-300;
  }

  &.theme-light {
    background-color: $light-300;
  }

  &.active {
    box-shadow: 0 0 0 2px $light-300;
  }
}

@media (max-width: 768px) {
  .theme-circle {
    width: 10px;
    height: 10px;
  }
}